<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golyglot docs</title>
</head>
<body>
    <p>
    Welcome to Golyglot docs.

    <p>
    Proceed to <a href="docs">documentation</a>.
</body>
</html>